footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);

    p {
        color: white;
        text-align: center;
        margin: 0;
        padding: 10px;
    }
}